@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
a, span, body, p, h1, h2,h3,h4,h5,h6, i{
    font-family: 'Open Sans', sans-serif;
}

@media (min-width: 1200px){
    .container {
        max-width: 1340px !important;
    }
}

input[type="text"], select, input[type="date"]{
    font-size: 14px !important;
}
.btn-gray{
    background: #dfe3e9;
    color:#fff;
}
.td span{
    display: block;
    margin-top: 3px;
}
th{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    vertical-align: middle !important;
}
.btn-2{
    width: 135px;
    font-size: 14px;
    padding: 8px;
}
.a-link{
    color: #4285f4 !important;
}
.a-link:hover{
    text-decoration: underline;
}
.p-3 {
    padding: 10px 10px !important;
}
.navbar-brand{
    font-size: 22px;
}
hr{
    margin-top: 5px;
}
.navbar{
    background: #3f51b5 !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #3f51b5;
}
.nav-pills{
    margin-bottom: 30px;
    border: 1px solid #d9d9d9;
    padding: 0px 0px;
}
.add-moderator{

}
.checkbox-nav .form-check-input {
    transform: scale(1.2);
}
.remove-moderator{
    width: 50px;
    text-align: center;
}
.table-moderators tr td:not(.remove-moderator) {
    width: 200px;
}



/*
    Deals
 */
.pagination-deals{
    justify-content: center;
}


/*
    Deal Page
*/
.basic-textarea textarea {
    height: auto;
}

.card.chat-room .friend-list li {
    border-bottom: 1px solid #e0e0e0; }
.card.chat-room .friend-list li:last-of-type {
    border-bottom: none; }

.card.chat-room img.rounded-circle {
    border-radius: 50%; }

.card.chat-room img.avatar {
    height: 3rem;
    width: 3rem;
    margin-right: 15px;
    }

.card.chat-room .text-small {
    font-size: 0.95rem; }

.card.chat-room .text-smaller {
    font-size: 0.75rem; }

.admin-chat{
    background: red;
    color: #fff;
    font-weight: normal;
    padding: 1px 7px;
    font-size: 15px;
}
.show-problematic-orders{
    font-family: OpenSans, sans-serif;
    font-weight: normal !important;
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: 10px;
}
.chat-area{
    height: 550px;
    overflow-y: scroll;
}
.scrollbar-light-blue::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; }

.scrollbar-light-blue::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; }

.scrollbar-light-blue::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #82B1FF; }

.rare-wind-gradient {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#a8edea), to(#fed6e3));
    background-image: -webkit-linear-gradient(bottom, #a8edea 0%, #fed6e3 100%);
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); }



.z-depth-1{
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #d9d9d9;
}
.card{
    width: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #d9d9d9;
}


/*
    Users Page
*/
.input-date{
    width: 140px;
}



.show-ord{
    float: left;
    margin-top: 8px;
}
.bs-switch{
    float: left;
    margin-right: 5px;
}
.form-sel{
    width: 70px;
    float: left;
}
.form-page{
    float: left;
    margin-top: 10px;
    margin-left: 8px;
}
.icon-upload{
    float: left;
    margin-right: 8px;
    margin-top: 9px;
}
.text-upload{
    float: left;
    margin-top: 9px;
}
.icon-add{
    float: left;
    margin-top: 10px;
}
.icon-text{
    float: left;
    margin-top: 8px;
    margin-left: 6px;
}


.table-row{
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-section{
    display: block;
}
.clear{
    display: block;
    content: '.';
    clear: both;
    width: 100%;
}
.table-row p{
    padding-top: 5px;
    margin-top: 4px;
    margin-bottom: 8px;
}


table.table td, table.table th {
    padding-top: 11px;
    padding-bottom: 12px;
    vertical-align: middle;
}
.nav-link, .navbar{

}

.invalid-feedback{
    display: block;
}
.save-changes{
  margin-top: 10px;
  margin-bottom: 30px;
  background: #3f51b5 !important;
  color: #fff;
  border: #3f51b5 !important;
  padding: 5px 12px;
  cursor: pointer;
}
.user-round-img{
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center center;
}
.option{
  border: 3px solid #d3d3d3;
  padding: 25px 10px;
  border-radius: 19px;
}
.option-service{
  border-top: 1px solid #c3c3c3;
}
.option-title h3{
  text-align: center;
}
.option-title span{
  font-style: italic;
  text-align: center;
  display: block;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.option-service .period{
  font-size: 20px;
  text-align: center;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-buy{
  padding: 8px 25px;
  border-radius: 25px;
  display: block;
  width: 100%;
  margin: 10px auto 0;
  background-color: #A64D79!important;
}
.btn-buy .cost{
  display: block;
  font-size: 24px;
  padding: 0px;
}
.btn-buy .txt{
  text-transform: none;
}


.payments > a >div{
  width: 202px;
  height: 134px;
  margin-right: 7px;
  margin-bottom: 5px;
}

.user-information{
  position: relative;
}
.image-select{
  position: absolute;
  width: 140px;
  overflow: hidden;
  left: 15%;
  bottom: 0;
}
.form-2{
  width: 100px !important;
  display: inline-block;
  margin-left: 10px;
}
.subscribe{
  display: inline-block;
  margin-bottom: 25px;
}
.save{
  display: inline-block;
  float: right;
}
.btn{
  padding: 0.44rem 2rem;
}


.received_withd_msg { width: 57%;}
.mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 60%;
    border: 1px solid #dee2e6;
}

.sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0; color:#fff;
    padding: 5px 10px 5px 12px;
    width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
    float: right;
    width: 46%;
}
.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 65px;
    width: 100%;
    outline: none;
}

.write_msg{
    width: 80%;
    border: 0;
    resize: none;
    outline: none;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
    width: 147px !important;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    height: 38px;
    position: absolute;
    right: 0;
    top: 11px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
    height: 517px;
    overflow-y: auto;
    padding-bottom: 20px;
}
.user-msg{
    font-size: 16px;
}
.sent_msg h5, .sent_msg .time_date{
    text-align: right;
}
.received_withd_msg{
    width: 100%;
}
.received_msg, .sent_msg{
    width: 80%;
}




.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 140px;
  background-size: cover;
}
.bg-slide{
  width: 100%;
  height: 100%;
  background-size: cover;
}

.swipper-slide{
  position: relative;
}
.trash-remove i{
  position: absolute;
  font-size: 20px;
  color:#fff;
  left: 50%;
  transform: translate(-50%);
  top: 15%;
}
.my-portfolio button{

}
.trash-remove{
  position: absolute;
  font-size: 20px;
  color: #fff;
  left: 50%;
  transform: translate(-50%);
  width: 20px;
  height: 30px;
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.my-portfolio input{
  margin-top: 15px;
  margin-bottom: 15px;
}
.url-input{
  width: 400px;
  height: 38px;
  border: 1px solid #d3d3d3;
  border-radius: 6px;
}

.chat-block{
  padding: 5px 15px;
  border: 1px solid #b5cdd7;
  background: #fcfcfc;
  border-radius: 5px;
}
.chat-body{
  width: 100%;
}
.chat-admin-msg{
  border: 1px solid #b5cdd7;
    background: #fcfcfc;
    border-radius: 5px;
}
