<template>
    <div class="card mb-3">
        <div class="card-header">
            <h3><i class="fa fa-check-square-o"></i> Form grid</h3>
            More complex forms can be built using our grid classes. Use these for form layouts that require multiple columns, varied widths, and additional alignment options.
        </div>

        <div class="card-body">

            <form autocomplete="off" action="#" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" v-model="accounts.name" id="Name" placeholder="Name" autocomplete="off">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="Price">Price</label>
                        <input type="text" class="form-control" v-model="accounts.price" id="Price" placeholder="Price" autocomplete="off">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="Notes">Notes</label>
                        <textarea type="text" class="form-control" v-model="accounts.notes" id="Notes" placeholder="Notes" autocomplete="off"></textarea>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="Login">Login</label>
                        <input type="text" class="form-control" v-model="accounts.login" id="Login" placeholder="Login" autocomplete="off">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Password">Password</label>
                        <input type="text" class="form-control" v-model="accounts.password" id="Password" placeholder="Password" autocomplete="off">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="E-mail">E-mail</label>
                        <input type="text" class="form-control" v-model="accounts.email" id="E-mail" placeholder="E-mail" autocomplete="off">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="EmailPassword">Email Password</label>
                        <input type="text" class="form-control" v-model="accounts.e_password" id="EmailPassword" placeholder="Email Password" autocomplete="off">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="Description">Description</label>
                        <textarea type="text" class="form-control" v-model="accounts.description" id="Description" placeholder="Description" autocomplete="off"></textarea>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="Status">Status</label>
                        <select v-model="accounts.status" class="form-control" id="Status">
                            <option value="0">В продаже</option>
                            <option value="1">Продано</option>
                        </select>
                    </div>
                </div>

                <button type="button" class="btn btn-primary" @click.prevent="updateAccount">Изменить</button>
            </form>

        </div>
    </div>
</template>

<script>

    export default {
        props:["account", "account_id"],
        data(){
            return {
                accounts:[]
            }
        },
        mounted(){
            this.getAccount();
        },
        methods:{
            getAccount(){
                axios.get(route('admin-api.accounts.index'), {
                    params:{
                        id:this.account_id,
                        type: this.account.type
                    }
                }).then(response => {
                    this.accounts = response.data;
                }).catch(error => {
                    console.log(error)
                })
            },
            updateAccount(){
                axios.put(route("admin-api.accounts.update", {
                    name: this.accounts.name,
                    price: this.accounts.price,
                    notes: this.accounts.notes,
                    login: this.accounts.login,
                    password: this.accounts.password,
                    email: this.accounts.email,
                    e_password: this.accounts.e_password,
                    description: this.accounts.description,
                    status: this.accounts.status,
                    type: this.account.type,
                    account_id: this.account_id
                }))
            }
        }

    }
</script>
