<template>
    <div class="card mb-12">
        <div class="card-header">
            <h3><i class="fa fa-users"></i> Добавление аккаунтов</h3>
            Здесь вы можете добавлять новые аккаунты, со статусами, и в зависимости от статуса будем выводит их на сайте
        </div>


        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="dataTables_length" id="example1_length"><label>Show entries
                                <select name="example1_length" v-model="per_page" @change="perPage" aria-controls="example1" class="form-control form-control-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </label>
                            </div>
                        </div>
                        <div class="col">
                            <div id="example1_filter" class="dataTables_filter"><label>
                                Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col text-right">
                    <a :href="route('admin.accounts.create', {type: this.type.type})" class="btn btn-success btn-sm">Добавить</a>
                </div>
            </div>

            <table id="example1" class="table table-bordered table-responsive-xl table-hover display">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Логин</th>
                    <th>E-mail</th>
                    <th>Цена</th>
                    <th>Статус</th>
                    <th>Редактировать/Удалить</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(account, key) in accounts">
                    <td>{{account.id}}</td>
                    <td>{{account.login}}</td>
                    <td>{{account.email}}</td>
                    <td>{{account.price}}</td>
                    <td>{{account.status}}</td>
                    <td>
                        <a :href="route('admin.accounts.edit', {type: type.type, id:account.id})" class="btn btn-primary btn-sm">Редактировать</a>
                        <button class="btn btn-danger btn-sm" @click="deleteAccount(key, account.id)">Удалить</button>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
</template>

<script>
    export default {
        props:["type"],
        data(){
            return {
                accounts: [],
                per_page: 10
            }
        },
        mounted() {
            this.getAccounts();
            console.log(this.type)
        },
        methods:{
            getAccounts(){
                axios.get(route("admin-api.accounts.index"), {
                    params:{
                        per_page: this.per_page,
                        type: this.type.type
                    }
                })
                    .then(response =>{
                        this.accounts = response.data;
                        console.log(response.data)
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            deleteAccount(key, account_id){
                axios.delete(route("admin-api.accounts.destroy"), {
                    params:{
                        account_id: account_id,
                        type: this.type.type
                    }
                })
                    .then(response => {
                        console.log(response.data)
                        this.$delete(this.accounts, key);
                    })
                    .catch(error => {
                        console.log(error)
                    })

            },

            perPage(){
                this.getAccounts();
            }
        }
    }
</script>

<style scoped>

</style>
