<template>
    <div class="card mb-12">
        <div class="card-header">
            <h3><i class="fa fa-users"></i> Аккаунты (типы)</h3>
            Существует 3 типа аккаунтов, и вы можете выбирать тип и и добавлять/удалять аккаунты
        </div>


        <div class="card-body">
            <div class="row">


            </div>

            <table id="example1" class="table table-bordered table-responsive-xl table-hover display">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Тип</th>
                    <th>Статус</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(account, key) in accounts">
                    <td>{{account.id}}</td>
                    <td>{{account.name}}</td>
                    <td>Активный</td>
                    <td>
                        <a :href="route('admin.accounts.index', {id:account.id})" class="btn btn-primary btn-sm">Список</a>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
</template>

<script>
    export default {
        name: "Select",
        data(){
            return {
                accounts:[
                    {
                        id:1,
                        name: "MMR"
                    },
                    {
                        id:2,
                        name: "TBD"
                    },
                    {
                        id:3,
                        name: "Часово"
                    },
                ]
            }
        }
    }
</script>

<style scoped>

</style>
