@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
a, span, body, p, h1, h2,h3,h4,h5,h6, i{
    font-family: 'Open Sans', sans-serif;
}
@media (min-width: 1200px){
    .container {
        max-width: 1340px !important;
    }
}
strong, b{
    font-weight: bold;
}
.btn{
    padding: .54rem 1.84rem;
    margin: 0;
}

table.table td, table.table th {
    padding-top: 5px;
    padding-bottom: 6px;
    vertical-align: middle;
}

input[type="text"], select, input[type="date"]{
    font-size: 14px !important;
}

.content{
    padding-top: 30px;
}
.navbar{
    height: 60px;
}
.stat-top ul, .accounts-four ul {
    justify-content: center;
}

.stat-top ul li a{padding: 10px;background: #B4A7D6;border-radius: 15px;font-size: 30px;display: block;color:#222;text-align: center;}
.stat-top ul li{
    margin: 10px;
}
.accounts-four ul li{
    margin: 10px;
}
.mr-counts ul{
    justify-content: center;
}
.mr-counts ul li{
    margin: 10px;
}
.mr-counts ul li a{
    background: #674EA7;
    color: #fff;
    padding: 5px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.mr-counts ul li span{
    background: #DDDDDD;
    padding: 5px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.table-main-prod a{
    color: #006fb7 !important;
    text-decoration: underline;
}
.camera-table{
    font-size: 30px;
    color: #666;
}
.navbar{
    background-color:#3f51b5 !important;
}

.icon-why i{
    font-size: 50px;
}
.icon-why{
    margin-bottom: 15px;
}
.col-list{
    padding-top: 50px;
}
.faq{
    margin: 15px 0 40px;
}
.card-footer, .card-header {
    padding: .35rem .15rem;
}
.card-header{
    cursor: pointer;
}
.card-body {
    padding: 15px 30px;
}
.faq-section .card-header button{
    font-size: 15px;
}
.review-txt{
    margin-bottom: 20px;
    margin-top: 15px;
}
.reviews .card{
    margin-bottom: 20px;
    padding: 15px 0;
}
.reviews .card a{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.new-image{
    width: 146px;
    float: left;
    margin-right: 10px;
    height: 80px;
    background-size: cover;
}
.new-txt{
    width: 146px;
    float: left;
}
.news-section{
    padding-top:  20px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding-bottom: 1px;
}
.news-main{
    margin-bottom: 15px;
}
.order-desc p, .order-desc h5{
    margin-bottom: 0;
}
.order-part{
    margin-bottom: 20px;
    justify-content: space-between;
}
.order-img{
    width: 75px;
    height: 75px;
    background-size: cover;
    border-radius: 50%;
    margin-right: 0px;
}
.order-list{
    padding-top: 20px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding-bottom: 1px;
}
.order-bar{
    width: 335px;
    padding-top: 50px;
    box-sizing: border-box;
}
.footer-menu{
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.footer-menu li{
    margin: 10px 15px;
}



.md-form  input[type="text"], .md-form select{
    width: 250px;
    display: inline-block;
    margin-right: 0px;
}
.md-form .select-wallet{
    margin-right: 20px;
}
.register-form .card{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.register-form .card-body{
    padding-left: 0;
    margin-left: 0 !important;
}
.register-form .accordion .card-body{
    padding-left: 15px !important;
}



.booster-data{
    padding-top: 40px;
}
.boost-img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 11px;
    background-size: cover;
}
.boost-status{
    position: absolute;
    bottom: -30px;
    color: #000;
    left: 4%;
}
.online-stat{
    position: absolute;
    bottom: 0;
    color: #fff;
    background: rgb(0, 190,0);
    border-radius: 15px;
    padding: 0px 7px;
    left: 8%;
}

.boost-title{
    text-align: center;
}
.boost-img_section{
    width: 80px;
    height: 80px;
    background-color: #d3d3d3;
    border-radius: 30%;
    position: relative;
}
.booster-data ul li{
    margin-left: 20px;
}
.boost-main{
    margin-right: 30px;
    margin-left: 0;
}
.boost-img_section span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.star-8{
    font-size: 40px;
    color: #9B16FE;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.checkbox-enable{
    padding-top: 8px;
    margin-left: 12px;
}


/* Boost Chat */

.container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%; padding:
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
    float: left;
    width: 11%;
}
.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}
.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}
.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}
.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 60%;
    border: 1px solid #dee2e6;
}

.sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0; color:#fff;
    padding: 5px 10px 5px 12px;
    width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
    float: right;
    width: 46%;
}
.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 65px;
    width: 100%;
    outline: none;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
    width: 147px !important;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    height: 38px;
    position: absolute;
    right: 0;
    top: 11px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
    height: 517px;
    overflow-y: auto;
    padding-bottom: 20px;
}
.user-msg{
    font-size: 16px;
}
.sent_msg h5, .sent_msg .time_date{
    text-align: right;
}
.received_withd_msg{
    width: 100%;
}
.received_msg, .sent_msg{
    width: 80%;
}



.sms-form .card{
    width: 400px;
}
.sms-form .card-body {
    text-align: center;
    border-bottom: 1px solid #d3d3dd;
}
.sms-form .card-header{
    padding: 8px 10px;
}


.center-after{
    width: 500px;
    margin: 0 auto;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
}
.center-after h5{
    margin-bottom: 20px;
}
.look li{
    font-size: 20px;
}


.payments{
    width: 835px;
    display: flex;
    justify-content: center;
}
.payments > label{
    width: 202px;
    height: 134px;
    /* background-size: cover; */
    margin-right: 7px;
    margin-bottom: 5px;
}
.email-for-acc{
    width: 250px;
    display: inline-block;
}



.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
    vertical-align: middle;
}
.toppad
{
    margin-top:20px;
}

#profile > div, #profile .card-body, #payment > div, #payment .card-body{
    padding-left: 0;
}
#profile .card-title{
    padding-left: 5px;
}
#profile .user-round-img{
    width: 150px;
}
#payment .card-title{
    padding-left: 5px;
}
#payment .user-round-img{
    width: 150px;
}
.pad-tbl{
    padding-left: 10px;
}
.pad-tbl > div{
    margin-bottom: 5px;
    margin-top: 5px;
}
.m-height{
    height: 106px;
}
.game-everyday li{
    padding: 3px 6px;
    border: 1px solid #d3d3d3;
    border-radius: 15px;
}



/*Prices*/

.qr {
    margin-left: auto;
    margin-right: auto;
}

.prices {
    padding-bottom: 40px;
    color: #fff;
    background: #B3C0DD;
    background: -moz-linear-gradient(-45deg, #3f4c6b 0%, #3f4c6b 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3f4c6b), color-stop(100%,#3f4c6b));
    background: -webkit-linear-gradient(-45deg, #B3C0DD 0%,#3f4c6b 100%);
    background: -o-linear-gradient(-45deg, #B3C0DD 0%,#3f4c6b 100%);
    background: -ms-linear-gradient(-45deg, #B3C0DD 0%,#3f4c6b 100%);
    background: linear-gradient(135deg, #B3C0DD 0%,#3f4c6b 100%);
}

.pricing-tables-jumbotron {
    text-align: center;
    background: none;
}

.big {
    font-size: 37px;
}

.option {
    background: #f9f9f9;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2);
    border-radius: 4px 4px 0 0;
    position: relative;
    margin: 20px 0;
    text-align: center;
    color: #333;
}

.option:hover .hided-icon {
    color: #fff;
    padding: 0 10px;
}

.option > .option-title {
    padding: 20px;
}

.option > .option-title > h3 {
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    margin: 0;
}

.option > .option-title > span {
    font-style: italic;
    font-size: 16px;
}

.option > .option-price {
    background: #fff;
    padding: 0 0 10px;
    color: #0FB112;
}

.option > .option-price > .price {
    display: block;
    font-size: 72px;
    font-weight: bold;
    font-style: italic;
}

.option > .option-price > .period {
    font-size: 14px;
}

.option .option-list {
    padding: 0;
}

.option .item-list {
    list-style: none;
    padding: 0;
}

.option .item-list li:nth-child(even) {
    background: #fdfdfd;
}

.option .item-list > li {
    padding: 10px 5px;
    font-size: 16px;
}

.option .btn {
    width: 100%;
    padding: 18px 8px;
    border-radius: 0;
    border: none;
    text-transform: uppercase;
}

.option .btn-success {
    color: #fff;
    background: #0FB112;
}

.option .btn-success:hover {
    background: #1d7019;
}

.option .hided-icon {
    color: #0FB112;
    margin-left: -14px;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.form-3{
    width: 300px;
}
.form-2{
    width: 200px;
}
.inline-block{
    display: inline-block;
}
.accounts-with-img li a img{
    width: 20px;
    position: relative;
    top: -1px;
}

.page-booster .boost-img{
    width: 60px;
    height: 70px;
    border-radius: 50%;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 11px;
    background-size: cover;
}
.page-booster .boost-img .online-stat {
    position: absolute;
    bottom: 0;
    color: #fff;
    border-radius: 15px;
    padding: 0px 7px;
    left: 1%;
}
.page-booster .boost-img .green{
    background-color: green;
}
.page-booster .boost-img .red{
    background-color: red;
}
.page-booster .boost-img .orange{
    background-color: orange;
}
.page-booster .boost-img .grey{
    background-color: grey;
}
.page-booster .boost-img .black{
    background-color: black;
}
.page-booster .boost-img .boost-status {
    position: absolute;
    bottom: -16px;
    color: #000;
    left: -16%;
    display: block;
    text-align: center;
    width: 80px;
}
.invalid-feedback{
    display: block;
}
.verify-card{
    margin-top: 10px;
}
.verify-card  .card-header{
    background-color: #3f51b5 !important;
    color: #fff;
}
.verify-card .card-body{
    color: #333;
}


.drop{
    position: relative;
}
.dropdown-wishlist{
    position: absolute;
    left: 0;
    background: #fff;
    width: 350px;
    border: 2px solid #666;
    display: none;
}
.wishlist-header{
    padding: 5px 10px;
}
.dropdown-list{
    padding-left:15px;
}
.dropdown-list li{
    list-style: none;
}
.dropdown-list li a{
    color: #333;
    padding: 5px 2px;
    display: block;
}
.dropdown-list li span{
    display: inline-block;
    margin-right: 10px;
}
.dropdown-list .rating{
}
.dropdown-list .rate{

}
.dropdown-list .dotabuff{

}
.dropdown-list .name{
    width: 150px;
}
.shopping-btn-wishlist {
    padding: 6px;
    position: relative;
    top: -2px;
}
.dropdown-list .name i{
    color: #D9944C;
}

.star-favourite{
    cursor: pointer;
    color: #D9944C;
}
#slider-range{
    width: 600px;
}
body .table-main-prod .buy-service{
    color: #fff !important;
    text-decoration: none;
}
#myTabContent{
    overflow: hidden;
}
.write_msg{
    width: 80%;
    border: 0;
    resize: none;
    outline: none;
}



.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 140px;
    background-size: cover;
}
