<template>
    <div class="card mb-3">
        <div class="card-header">
            <h3><i class="fa fa-check-square-o"></i> Form grid</h3>
            More complex forms can be built using our grid classes. Use these for form layouts that require multiple columns, varied widths, and additional alignment options.
        </div>

        <div class="card-body">

            <form autocomplete="off" action="#">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="title_ru">Название (Рус)</label>
                        <input type="text" v-model="rules.title_ru" class="form-control" id="title_ru" placeholder="Название" autocomplete="off">
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="description_ru">Описание (Рус)</label>
                        <textarea v-model="rules.content_ru" class="form-control" rows="6" id="description_ru" placeholder="Описание"></textarea>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="title_en">Название (Англ)</label>
                        <input type="text" v-model="rules.title_en" class="form-control" id="title_en" placeholder="Название" autocomplete="off">
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="description_en">Описание (Англ)</label>
                        <textarea v-model="rules.content_en" class="form-control" rows="6" id="description_en" placeholder="Описание"></textarea>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <div v-if="error" class="alert alert-danger">
                            <button type="button" class="close">
                                <span @click="closeError()">×</span>
                            </button>
                            <div v-for="err in errors">
                                <strong>{{err[0]}}</strong>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" @click.prevent="addRule" class="btn btn-primary">Добавить</button>
            </form>

        </div>
    </div>
</template>

<script>
    import mixin from '../../mixins';

    export default {
        name: "Create",
        mixins:[mixin],
        data(){
            return {
                rules:{
                    title_ru: '',
                    title_en: '',
                    content_ru: '',
                    content_en: ''
                },
                error: false,
                error_message: '',
                errors:[],
            }
        },
        methods:{
            addRule(){
                axios.post(route("admin-api.rules.store"), {
                    title_ru: this.rules.title_ru,
                    title_en: this.rules.title_en,
                    content_ru: this.rules.content_ru,
                    content_en: this.rules.content_en
                })
                    .then(response => {
                        console.log(response.data)
                        window.location.href = "/admin/rules/";
                    })
                    .catch(error =>{
                        this.messages(422);
                        this.errors = error.response.data.errors;
                    })
            }
        }
    }
</script>

<style scoped>

</style>
