<template>
   <div>
   		<h1>Hello from Vue component</h1>
   </div>
</template>

<script>
    export default {
        data(){
            return {
                message: 'Hello world'
            }
        },
        mounted(){
        	console.log(this.message)
        }
    }
</script>

