<template>
    <div>
        <vue-slider
            ref="slider"
            v-model="value"
            v-bind="options" @drag-end="endDrag" :max="5999" :min="1" :interval="1"
        ></vue-slider>

    </div>
</template>
<script>
    import vueSlider from 'vue-slider-component';

    export default {
        props:["user_id"],
        components: {
            vueSlider
        },
        mounted(){

        },
        data () {
            return {
                value: [0, 50],
                options: {
                    width: "auto",
                    height: 8,
                    direction: "horizontal",
                    dotWidth: 24,
                    dotHeight: 24,
                    eventType: "auto",
                    min: 0,
                    value: 1,
                    max: 100,
                    interval: 1,
                    disabled: false,
                    show: true,
                    realTime: true,
                    tooltip: "always",
                    clickable: true,
                    tooltipDir: "right",
                    piecewise: false,
                    lazy: false,
                    reverse: false,
                    speed: 0.5,
                    formatter: undefined,
                    bgStyle: undefined,
                    sliderStyle: undefined,
                    tooltipStyle: undefined,
                    processStyle: undefined,
                    piecewiseStyle: undefined,
                    condition: ""
                }
            }
        },
        methods:{
            getVal(){
                console.log(this.value)
            },
            endDrag(){
                axios.get(route("website-api.filter"), {
                    params:{
                        start: this.value[0],
                        end: this.value[1],
                        service_type: 1,
                        user_id: this.user_id
                    }
                })
            }
        },

    }
</script>
