<template>
    <div class="card mb-3">
        <div class="card-header">
            <h3><i class="fa fa-check-square-o"></i> Form grid</h3>
            More complex forms can be built using our grid classes. Use these for form layouts that require multiple columns, varied widths, and additional alignment options.
        </div>

        <div class="card-body">

            <form autocomplete="off" action="#">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputAddress">Имя</label>
                        <input type="text" class="form-control" v-model="admins.name" id="inputName" placeholder="Имя">
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" v-model="admins.email" id="inputEmail4" placeholder="Email" autocomplete="off">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Пароль</label>
                        <input type="password" class="form-control" v-model="admins.password" id="inputPassword4" placeholder="Password" autocomplete="off">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div v-if="error" class="alert alert-danger">
                            <button type="button" class="close">
                                <span @click="closeError()">×</span>
                            </button>
                            <div v-for="err in errors">
                                <strong>{{err[0]}}</strong>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" @click.prevent="updateAdmin" class="btn btn-primary">Изменить</button>
            </form>

        </div>
    </div>
</template>

<script>
    import mixin from '../../mixins';

    export default {
        props:['admin'],
        mixins:[mixin],
        data(){
            return {
                admins:{
                    name: '',
                    email: '',
                    password: ''
                },
                error: false,
                error_message: '',
                errors:[],
            }
        },
        mounted(){
            this.getAdmin();
        },
        methods:{
            getAdmin(){
                axios.get(route("admin-api.admins.index"), {
                    params:{
                        id: this.admin.id
                    }
                })
                    .then(response => {
                        this.admins = response.data
                        console.log(this.admins)
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            updateAdmin(){
                axios.put(route("admin-api.admins.update"), {
                    name: this.admins.name,
                    email: this.admins.email,
                    password: this.admins.password,
                    id: this.admins.id
                })
                    .then(response => {
                        console.log(response.data)
                    })
                    .catch(error =>{
                        this.messages(422);
                        this.errors = error.response.data.errors;
                    })
            }
        }
    }
</script>

<style scoped>

</style>
