<template>
    <div class="card mb-12">
        <div class="card-header">
            <h3><i class="fa fa-users"></i> Добавление модераторов</h3>
            Вы можете добавлять новых модераторов для управление админ панелю
        </div>


        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="dataTables_length" id="example1_length"><label>Show entries
                                <select name="example1_length" v-model="per_page" @change="perPage" aria-controls="example1" class="form-control form-control-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </label>
                            </div>
                        </div>
                        <div class="col">
                            <div id="example1_filter" class="dataTables_filter"><label>
                                Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col text-right">
                    <a :href="route('admin.admins.create')" class="btn btn-success btn-sm">Добавить</a>
                </div>
            </div>

            <table id="example1" class="table table-bordered table-responsive-xl table-hover display">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>E-mail</th>
                    <th>Редактировать/Удалить</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(admin, key) in admins">
                    <td>{{admin.id}}</td>
                    <td>{{admin.name}}</td>
                    <td>{{admin.email}}</td>
                    <td>
                        <a :href="route('admin.admins.edit', {id:admin.id})" class="btn btn-primary btn-sm">Редактировать</a>
                        <button class="btn btn-danger btn-sm" @click="deleteAdmin(key, admin.id)">Удалить</button>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                admins: [],
                per_page: 10
            }
        },
        mounted() {
            this.getAdmins();
        },
        methods:{
            getAdmins(){
                axios.get(route("admin-api.admins.index"), {
                    params:{
                        per_page: this.per_page
                    }
                })
                    .then(response =>{
                        this.admins = response.data;
                        console.log(response.data)
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            deleteAdmin(key, admin_id){
                axios.delete(route("admin-api.admins.destroy"), {
                    params:{
                        id: admin_id
                    }
                })
                    .then(response => {
                        console.log(response.data)
                        this.$delete(this.admins, key);
                    })
                    .catch(error => {
                        console.log(error)
                    })

            },

            perPage(){
                this.getAdmins();
            }
        }
    }
</script>

<style scoped>

</style>
