<template>
    <div class="container">
        <div class="switch-controls d-flex mb-3">
            <div class="col-4">
                <div class="switch">
                    <label>
                        <input type="checkbox" v-model="online_boosters">
                        <span class="lever"></span>
                        Только онлайн бустеры
                    </label>
                </div>

            </div>
            <div class="col-4">
                <div class="switch">
                    <label>

                        <input type="checkbox" v-model="free_boosters">
                        <span class="lever"></span>
                        Только свободные
                    </label>
                </div>

            </div>
        </div>

        <table class="table-striped table-main-prod table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">TOP</th>
                <th scope="col">Rate</th>
                <th scope="col">Заказов</th>
                <th scope="col">MMR</th>
                <th scope="col">Стаж</th>
                <th scope="col">Об услуге</th>
                <th scope="col">Время</th>
                <th scope="col">Rub</th>
            </tr>
            </thead>
            <tbody>

                <tr v-for="booster in boosters">
                    <!--<th scope="row"><i class="fas fa-star star-favourite"></i></th>-->
                    <th scope="row"><a href="/login"><i class="far fa-star star-favourite"></i></a></th>
                    <td>
                        <a :href="'/booster/'+booster.id">
                            <div class="boost-img" v-bind:style="{ backgroundImage: 'url(/uploads/avatars/' + booster.image + ')' }" v-if="booster.image">
                                <div class="online-stat"></div>
                                <div class="boost-status">{{ booster.nickname }}</div>
                            </div>

                            <div class="boost-img" style="background-image: url(/uploads/avatars/default.png)" v-else>
                                <div class="online-stat">Online</div>
                                <div class="boost-status">{{ booster.nickname }}</div>
                            </div>
                        </a>
                    </td>
                    <td><img src="img/top10.png" alt=""></td>
                    <td>90%</td>
                    <td>55</td>
                    <td>550</td>
                    <td><span class="circle">1</span></td>
                    <td>About</td>
                    <td><i class="far fa-clock"></i> 3-5 дней</td>
                    <td><a :href="'/booster/'+booster.id" class="btn btn-success text-white buy-service">
                        <i class="fas fa-shopping-cart"></i> 390</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "BoostersComponent",
        data(){
            return {
                boosters:[],
                free_boosters:false,
                online_boosters: false
            }
        },
        mounted() {
            this.getBoosters();
        },
        methods:{
            getBoosters(){
                axios.get(route("website-api.website.boosters", {
                    online: this.online_boosters,
                    free: this.free_boosters
                }))
                    .then(resource => {
                        this.boosters = resource.data;
                        console.log(resource.data)
                    }).catch( error => {
                        console.log(error)
                })
            }
        },
        watch:{
            free_boosters:function(){
                this.getBoosters()
            },
            online_boosters:function(){
                this.getBoosters()
            }
        }

    }
</script>

<style scoped>

</style>
