<template>
    <div class="chat-booster">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#chat" role="tab" aria-controls="home"
                   aria-selected="true">Переписка с Бустером</a>
            </li>
            <li class="nav-item checkbox-enable">

                <div class="switch">
                    <label>

                        <input type="checkbox">
                        <span class="lever"></span>
                        Включить оповещение
                    </label>
                </div>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="chat" role="tabpanel" aria-labelledby="home-tab">
                <div class="row mt-2">
                    <div class="col-8">
                        <div class="mesgs w-100">
                            <div class="chat-message">
                                <ul class="list-unstyled chat">
                                    <li class="d-flex justify-content-between mb-4" v-for="message in messages">
                                        <div class="chat-body white p-3 z-depth-1 w-100">
                                             <div class="header d-flex justify-content-between align-self-center"
                                                :class="{'flex-row-reverse':sender.id === message.sender.id}">
                                                <strong class="primary-font username">{{message.sender.name}}</strong>
                                                <small class="pull-right text-muted datetime"><i class="fa fa-clock-o"></i>
                                                    {{message.created_at}}
                                                </small>
                                            </div>
                                            <div class="w-100 line"></div>
                                            <div class="mb-0 mt-2 message-text" :class="{ 'text-right' : sender.id === message.sender.id}">
                                                {{message.message}}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="white p-3 pt-0 pb-0">
                                    <div class="form-group basic-textarea">
                                            <textarea class="form-control pl-2 my-0" id="exampleFormControlTextarea2"
                                                      rows="3" placeholder="Type your message here..."
                                                      v-model="message"></textarea>
                                    </div>
                                </div>

                                <button type="button" @click="sendMessage"
                                        class="btn btn-info btn-rounded btn-sm waves-effect waves-light float-right">
                                    Отправить
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col">-->
                    <!--<div class="busy">-->
                    <!--<p>Бустер занят заказом, его услуги нельзя оплатить пока он не выполнит взятый заказ.</p>-->
                    <!--<p>Если хотитк сразу узнать когда он освободиться, <span>оставьте номер</span> для получение SMS</p>-->
                    <!--<form action="" class="sms-form">-->
                    <!--<div class="card">-->
                    <!--<div class="card-header">-->
                    <!--SMS оповещение-->
                    <!--</div>-->
                    <!--<div class="card-body">-->
                    <!--<p class="card-text">Укажите ваш номер мобильного, чтобы узнать когда освободиться-->
                    <!--Бустер</p>-->
                    <!--<div class="form-group">-->
                    <!--<input type="text" class="form-control" placeholder="Ваш номер">-->
                    <!--</div>-->
                    <!--<button class="btn btn-primary">Ок</button>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</form>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>

            </div>

        </div>


    </div>
</template>

<script>
    export default {
        name: "ChatComponent",
        props: ["receiver_id", "sender"],
        data() {
            return {
                messages:[],
                receiver:{
                    id: '',
                    name: '',
                    email: ''
                },
                message:''
            }
        },
        mounted() {
            // this.getReceiver();
            this.getMessages();
            console.log(this.receiver_id)
        },
        methods: {
            getMessages(){
                axios.get(route("website-api.messages.get"), {
                    params:{
                        receiver_id: this.receiver_id,
                        sender_id: this.sender.id
                    }
                }).then( response => {
                    this.messages = response.data;
                }).catch( error => {
                    console.log(error)
                })
            },
            getReceiver(){
                axios.get(route("website-api.receiver.get"), {
                    params:{
                        sender_id: this.sender.id,
                        receiver_id: this.receiver_id
                    }
                }).then(response => {
                    this.receiver = response.data;
                }).catch(error => {
                    console.log(error)
                })
            },
            sendMessage(){
                if(!this.message){
                    return false;
                }
                axios.post(route("website-api.message.post"), {
                    sender_id: this.sender.id,
                    receiver_id: this.receiver_id,
                    message: this.message
                }).then(response => {
                    this.messages.push(response.data)
                    this.message = "";
                }).catch(error => {
                    console.log(error)
                })
            }

        },
        watch: {
            messages: function () {
                setTimeout(()=>{
                    let chat = document.querySelector('.chat');
                    chat.scrollTo(0, chat.scrollHeight);
                    console.log(chat.scrollHeight)
                }, 50)

            }
        }
    }
</script>

<style scoped>
    .mesgs {
        padding: 10px;
    }

    .chat {
        height: 500px;
        overflow-y: scroll;
        padding: 10px;
    }
    .line{
        margin-top: 2px;
        border: .5px solid #f1f1f1;
    }
    .username, .message-text{
        font-size: 17px;
    }
    .datetime{
        font-size: 14px;
    }
</style>
