<template>
    <div class="wishlist-footer">
        <ul class="dropdown-list">
            <!--If it is a User-->
            <li v-for="wish in list">
                <a href="/booster" v-if="wish.wish_user_id">
                    <span class="name"></span>
                    <span class="rating"></span>
                    <span class="rate">%</span>
                </a>
                <a href="#" v-else>
                    <span class="name">{{wish.account.title}} </span>
                    <span class="dotabuff">{{wish.account.dotabuff}}</span>
                    <button type="button" class="btn btn-primary shopping-btn-wishlist" name="button"><i class="fas fa-shopping-cart"></i></button>
                </a>
            </li>
            <!--If it is an Account-->


        </ul>
    </div>
</template>

<script>

    export default {
        props:["user"],
        name: "WishlistComponent",
        data(){
            return {
                list:[]
            }
        },
        mounted() {
            this.getWishlist();
        },
        methods:{
            getWishlist(){
                axios.get(route("website-api.wishlist.get", {
                    user_id: this.user.id
                })).then(response => {
                    console.log(response.data)
                    this.list = response.data;
                })
                    .catch(error => {
                        console.log(error)
                    })
            }
        }
    }
</script>

<style scoped>

</style>
