<template>
    <div class="card mb-3">
        <div class="card-header">
            <h3><i class="fa fa-check-square-o"></i> Form grid</h3>
            More complex forms can be built using our grid classes. Use these for form layouts that require multiple columns, varied widths, and additional alignment options.
        </div>

        <div class="card-body">

            <form autocomplete="off" action="#">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="title">Название</label>
                        <input type="text" v-model="reviews.title" class="form-control" id="title" placeholder="Название" autocomplete="off">
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="description">Описание</label>
                        <textarea v-model="reviews.description" class="form-control" rows="6" id="description" placeholder="Описание"></textarea>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="name">Имя</label>
                        <input type="text" v-model="reviews.name" class="form-control" id="name" placeholder="Имя" autocomplete="off">
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="published_at">Дата публикации</label>
                        <input type="datetime-local" v-model="reviews.published_at" class="form-control" rows="6" id="published_at" placeholder="Описание">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div v-if="error" class="alert alert-danger">
                            <button type="button" class="close">
                                <span @click="closeError()">×</span>
                            </button>
                            <div v-for="err in errors">
                                <strong>{{err[0]}}</strong>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" @click.prevent="updateReview" class="btn btn-primary">Изменить</button>
            </form>

        </div>
    </div>
</template>

<script>
    import mixin from '../../mixins';
    export default {
        name: "Create",
        props:['review'],
        mixins:[mixin],
        data(){
            return {
                reviews:{
                    title: '',
                    description: '',
                    name: '',
                    published_at: ''
                },
                error: false,
                error_message: '',
                errors:[],
            }
        },
        mounted(){
            this.getReview();
        },
        methods:{
            getReview(){
                axios.get(route('admin-api.reviews.index'), {
                    params:{
                        id:this.review.id
                    }
                }).then(response => {
                    this.reviews = response.data;
                }).catch(error => {
                    console.log(error)
                })
            },
            updateReview(){
                axios.put(route("admin-api.reviews.update"), {
                    title: this.reviews.title,
                    description: this.reviews.description,
                    name: this.reviews.name,
                    published_at: this.reviews.published_at,
                    id: this.review.id
                })
                    .then(response => {
                        console.log(response.data)
                    })
                    .catch(error =>{
                        this.messages(422);
                        this.errors = error.response.data.errors;
                    })
            }
        }
    }
</script>

<style scoped>

</style>
