<template>
    <div class="card mb-12">
        <div class="card-header">
            <h3><i class="fa fa-users"></i> Отзывы</h3>
            Здесь вы можете добавлять отзывы на сайт вручную
        </div>


        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="dataTables_length" id="example1_length"><label>Show entries
                                <select name="example1_length" v-model="per_page" @change="perPage" aria-controls="example1" class="form-control form-control-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </label>
                            </div>
                        </div>
                        <div class="col">
                            <div id="example1_filter" class="dataTables_filter"><label>
                                Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col text-right">
                    <a :href="route('admin.reviews.create')" class="btn btn-success btn-sm">Добавить</a>
                </div>
            </div>

            <table id="example1" class="table table-bordered table-responsive-xl table-hover display">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Заголовок</th>
                    <th>Описание</th>
                    <th>Имя </th>
                    <th>Дата публикации</th>
                    <th>Редактировать/Удалить</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(review, key) in reviews">
                    <td>{{review.id}}</td>
                    <td>{{review.title}}</td>
                    <td>{{review.description}}</td>
                    <td>{{review.name}}</td>
                    <td>{{review.published_at}}</td>
                    <td>
                        <a :href="route('admin.reviews.edit', {id:review.id})" class="btn btn-primary btn-sm">Редактировать</a>
                        <button class="btn btn-danger btn-sm" @click="deleteReview(key, review.id)">Удалить</button>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                reviews: [],
                per_page: 10
            }
        },
        mounted() {
            this.getReviews();
        },
        methods:{
            getReviews(){
                axios.get(route("admin-api.reviews.index"), {
                    params:{
                        per_page: this.per_page
                    }
                })
                    .then(response =>{
                        this.reviews = response.data.data;
                        console.log(response.data.data)
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            deleteReview(key, review_id){
                axios.delete(route("admin-api.reviews.destroy"), {
                    params:{
                        id: review_id
                    }
                })
                    .then(response => {
                        console.log(response.data)
                        this.$delete(this.reviews, key);
                    })
                    .catch(error => {
                        console.log(error)
                    })

            },

            perPage(){
                this.getFaqs();
            }
        }
    }
</script>

<style scoped>

</style>
