<template>
    <div class="card mb-3">
        <div class="card-header">
            <h3><i class="fa fa-check-square-o"></i> Form grid</h3>
            More complex forms can be built using our grid classes. Use these for form layouts that require multiple columns, varied widths, and additional alignment options.
        </div>

        <div class="card-body">

            <form autocomplete="off" action="#">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputKey">Ключ</label>
                        <input type="text" class="form-control" id="inputKey" placeholder="Ключ" autocomplete="off" v-model="language.key">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputValue">Значение</label>
                        <input type="text" class="form-control" id="inputValue" placeholder="Значение" autocomplete="off" v-model="language.value">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <div v-if="error" class="alert alert-danger">
                            <button type="button" class="close">
                                <span @click="closeError()">×</span>
                            </button>
                            <div v-for="err in errors">
                                <strong>{{err[0]}}</strong>
                            </div>
                        </div>
                    </div>
                </div>


                <button type="submit" @click.prevent="addLanguage" class="btn btn-primary">Изменить</button>
            </form>

        </div>
    </div>
</template>

<script>
    import mixin from '../../mixins';
    export default {
        name: "Create",
        props:['lang'],
        mixins:[mixin],
        data(){
            return {
                language:[],
                error: false,
                error_message: '',
                errors:[],
            }
        },

        methods:{
            addLanguage(){
                axios.post(route('admin-api.languages.store'), {
                    key: this.language.key,
                    value: this.language.value,
                    lang: this.lang.lang

                }).then(response => {
                    console.log(response.data)
                    window.location.href = "/admin/languages/"+this.lang.lang;
                }).catch(error =>{
                    this.messages(422);
                    this.errors = error.response.data.errors;
                })
            }
        }
    }
</script>

<style scoped>

</style>
