<template>
    <div class="card mb-12">
        <div class="card-header">
            <h3><i class="fa fa-users"></i> Языки </h3>
            Вы секции (языки) вы можете добавлять новые html ключи для определённого языка или удалять.
        </div>


        <div class="card-body">
            <div class="row">

                <div class="col text-right">
                    <a :href="route('admin.languages.create', {lang:lang.key})" class="btn btn-success btn-sm">Добавить</a>
                </div>
            </div>

            <table id="example1" class="table table-bordered table-responsive-xl table-hover display">
                <thead>
                <tr>
                    <th>Ключ</th>
                    <th>Значение</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(language, key) in languages">
                    <td>{{key}}</td>
                    <td>{{language}}</td>
                    <td>
                        <a :href="route('admin.languages.edit', {lang:lang.key, key:key})" class="btn btn-primary btn-sm">Редактировать</a>
                        <!--<button class="btn btn-danger btn-sm" @click="deleteLanguage(key)">Удалить</button>-->
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
</template>

<script>
    export default {
        props:['lang'],
        data(){
            return {
                languages: [],
            }
        },
        mounted() {
            this.getLanguages();
        },
        methods:{
            getLanguages(){
                axios.get(route("admin-api.languages.index", {lang: this.lang.key}))
                    .then(response =>{
                        this.languages = response.data;
                        console.log(response.data)
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            deleteLanguage(key, language_id){
                axios.delete(route("admin-api.languages.destroy"), {
                    params:{
                        id: language_id
                    }
                })
                    .then(response => {
                        console.log(response.data)
                        this.$delete(this.languages, key);
                    })
                    .catch(error => {
                        console.log(error)
                    })

            },
        }
    }
</script>

<style scoped>

</style>
