<template>
    <div class="card mb-12">
        <div class="card-header">
            <h3><i class="fa fa-users"></i> Языки </h3>
            Вы секции (языки) вы можете добавлять новые html ключи для определённого языка или удалять.
        </div>


        <div class="card-body">

            <table id="example1" class="table table-bordered table-responsive-xl table-hover display">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Язык</th>
                    <th>Файл</th>
                    <th>Список</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(language) in languages">
                    <td>{{language.id}}</td>
                    <td>{{language.name}}</td>
                    <td>{{language.file}}</td>
                    <td>
                        <a :href="route('admin.languages.index', {lang:language.lang})" class="btn btn-primary btn-sm">Список</a>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                languages: [
                    {
                        id:1,
                        name:"Английский",
                        file:"en.json",
                        lang:"en"
                    },
                    {
                        id:2,
                        name:"Русский",
                        file:"ru.json",
                        lang:"ru"
                    }
                ],
            }
        },
        mounted() {

        },
        methods:{

        }
    }
</script>

<style scoped>

</style>

