<template>
    <table class="table table-main-prod table-striped">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">ТИП</th>
            <th scope="col">Название</th>
            <th scope="col">Примечения</th>
            <th scope="col">Rubs</th>
        </tr>
        </thead>

        <tbody>
        <tr class="table-section" v-for="(account, key) in accounts">
            <th scope="row" @click="addToWish(key, account.id)"  v-if="!list.includes(account.id)"><i class="far fa-star"></i></th>
            <th scope="row" @click="removeFromWish(key, account.id)" v-if="list.includes(account.id)"><i class="fas fa-star star-favourite"></i></th>
            <th scope="row">TDB</th>
            <th scope="row">{{ account.name }}</th>
            <td>{{account.notes}}</td>
            <td><a :href="route('index.choose', {'type': 'hours', 'id': account.id})" class="btn btn-success"><i class="fas fa-shopping-cart"></i> {{account.price}}</a></td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        props:["account","user"],
        name: "Mmr",
        data(){
            return {
                accounts: [],
                wishlist: [],
                list: []
            }
        },
        mounted(){
            this.getWishlist();
            this.getAccounts();
        },
        methods:{
            getWishlist(){
                axios.get(route("website-api.accounts.wishlist.index"), {
                    params:{
                        account_type: this.account.type,
                        user_id: this.user.id
                    }
                })
                    .then(response => {
                        this.wishlist = response.data;
                        this.wishlist.forEach((element)=>{
                            this.list.push(element.account_id)
                        })
                        console.log(this.list)

                    }).catch(error => {
                    console.log(error)
                })
            },

            getAccounts(){
                axios.get(route("website-api.accounts.type", {type: this.account.type}))
                    .then(response => {
                        this.accounts = response.data.data;
                        console.log(response.data.data)
                    })
            },

            addToWish(key, account_id){
                axios.post(route("website-api.accounts.wishlist.add", {
                    account_id: account_id,
                    user_id: this.user.id,
                    account_type: this.account.type
                })).then(response => {
                    this.list.push(account_id)
                }).catch(error => {
                    console.log(error)
                })
            },

            removeFromWish(key, account_id){
                axios.delete(route("website-api.accounts.wishlist.destroy", {
                    account_id: account_id,
                    user_id: this.user.id,
                    account_type: this.account.type
                })).then(response => {
                    var index = this.list.indexOf(account_id);
                    if (index !== -1) this.list.splice(index, 1);
                }).catch(error => {
                    console.log(error)
                })
            },


        }
    }
</script>

<style scoped>

</style>
