<template>
    <table class="table table-main-prod table-striped">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">ТИП</th>
            <th scope="col">Rank</th>
            <th scope="col">Rep.</th>
            <th scope="col">Matches</th>
            <th scope="col">Dotabuuf</th>
            <th scope="col">Stream</th>
            <th scope="col">Примечения</th>
            <th scope="col">Rub</th>
        </tr>
        </thead>

        <tbody>
            <tr class="table-section" v-for="(account, key) in accounts">
                <th scope="row" @click="addToWish(key, account.id)"
                                        v-if="!list.includes(account.id)"><i class="far fa-star"></i></th>
                <th scope="row" @click="removeFromWish(key, account.id)"
                                        v-if="list.includes(account.id)"><i class="fas fa-star star-favourite"></i></th>
                <th scope="row">MMR</th>
                <td>{{ account.rank }}</td>
                <td>{{ account.reputation }}</td>
                <td>{{ account.matches }}</td>
                <td><a href="#" class="dotabuff">{{ account.dotabuff }}</a></td>
                <td><a :href="account.stream">link</a></td>
                <td>{{account.notes}}</td>
                <td><a :href="route('index.choose', {'type': 'mmr', 'id': account.id})" class="btn btn-success"><i class="fas fa-shopping-cart"></i> {{account.price}}</a></td>
            </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        props:["account", "user"],
        name: "Mmr",
        data(){
            return {
                accounts:[],
                showAdd: true,
                wishlist: [],
                list: []
            }
        },
        mounted(){
            this.getWishlist();
            this.getAccounts();

        },
        methods:{
            getWishlist(){
                axios.get(route("website-api.accounts.wishlist.index"), {
                    params:{
                        account_type: this.account.type,
                        user_id: this.user.id
                    }
                })
                    .then(response => {
                        this.wishlist = response.data;
                        if(this.user){
                            this.wishlist.forEach((element)=>{
                                this.list.push(element.account_id)

                            })
                        }


                    }).catch(error => {
                        console.log(error)
                })
            },
            getAccounts(){
                axios.get(route("website-api.accounts.type", {type: this.account.type}))
                    .then(response => {
                        this.accounts = response.data.data;
                    })
            },

            addToWish(key, account_id){
                axios.post(route("website-api.accounts.wishlist.add", {
                    account_id: account_id,
                    user_id: this.user.id,
                    account_type: this.account.type
                })).then(response => {
                    this.list.push(account_id)
                }).catch(error => {
                    console.log(error)
                })
            },

            removeFromWish(key, account_id){
                axios.delete(route("website-api.accounts.wishlist.destroy", {
                    account_id: account_id,
                    user_id: this.user.id,
                    account_type: this.account.type
                })).then(response => {
                    var index = this.list.indexOf(account_id);
                    if (index !== -1) this.list.splice(index, 1);
                }).catch(error => {
                    console.log(error)
                })
            },

        }
    }
</script>

<style scoped>

</style>
