<template>
    <div class="card mb-3">
        <div class="card-header">
            <h3><i class="fa fa-check-square-o"></i> Настройки данных</h3>
            Здесь вы можете настроить данные администратора
        </div>

        <div class="card-body">

            <form autocomplete="off" action="#">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputAddress">Курс доллара</label>
                        <input type="text" class="form-control" v-model="settings.dollar" id="inputAddress" placeholder="Курс доллара">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputAddress2">Курс Евро</label>
                        <input type="text" class="form-control" v-model="settings.euro" id="inputAddress2" placeholder="Курс евро">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="WMR">WMR</label>
                        <select id="WMR" v-model="settings.wmr" class="form-control">
                            <option value="0" selected>Choose...</option>
                            <option value="1">12738017823971</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="QIWI">QIWI</label>
                        <select id="QIWI" v-model="settings.qiwi" class="form-control">
                            <option value="0" selected>Choose...</option>
                            <option value="1">1827398173</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="Visa">MC/Visa Rus</label>
                        <select id="Visa"  v-model="settings.visa_rus" class="form-control">
                            <option value="0" selected>Choose...</option>
                            <option value="1">1723972321323</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="Yandex">Яндекс Деньги</label>
                        <select id="Yandex" v-model="settings.yandex" class="form-control">
                            <option value="0" selected>Choose...</option>
                            <option value="1">127301780293109</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="PayPal">PayPal</label>
                        <select id="PayPal" v-model="settings.paypal" class="form-control">
                            <option value="0" selected>Choose...</option>
                            <option value="1">7778882718181</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div v-if="error" class="alert alert-danger">
                            <button type="button" class="close">
                                <span @click="closeError()">×</span>
                            </button>
                            <div v-for="err in errors">
                                <strong>{{err[0]}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" @click.prevent="updateSettings" class="btn btn-primary">Изменить</button>
            </form>

        </div>
    </div>
</template>

<script>
    import mixin from '../../mixins';
    export default {
        mixins:[mixin],
        data(){
            return {
                settings:{
                    dollar: '',
                    euro: '',
                    wmr: 1,
                    qiwi: 1,
                    visa_rus: 1,
                    yandex: 1,
                    paypal: 1,
                },
                error: false,
                error_message: '',
                errors:[],
            }
        },
        mounted(){
            this.getSettings();
        },
        methods:{
            getSettings(){
                axios.get(route("admin-api.settings.index"))
                    .then(response => {
                        this.settings = response.data
                        console.log(this.settings)
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            updateSettings(){
                axios.put(route("admin-api.settings.update"), {
                    dollar: this.settings.dollar,
                    euro: this.settings.euro,
                    wmr: this.settings.wmr,
                    qiwi: this.settings.qiwi,
                    visa_rus: this.settings.visa_rus,
                    yandex: this.settings.yandex,
                    paypal: this.settings.paypal,
                })
                    .then(response => {
                        console.log(response.data)
                    })
                    .catch(error =>{
                        this.messages(422);
                        this.errors = error.response.data.errors;
                    })
            }
        }
    }
</script>

<style scoped>

</style>
