<template>
    <div class="card mb-12">
        <div class="card-header">
            <h3><i class="fa fa-users"></i> Часто задаваемые вопросы (FAQ)</h3>
            Тут вы можете добавлять новый запись или удалять, с заголовком (вопроса) и описанием (ответа)
        </div>


        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="dataTables_length" id="example1_length"><label>Show entries
                                <select name="example1_length" v-model="per_page" @change="perPage" aria-controls="example1" class="form-control form-control-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </label>
                            </div>
                        </div>
                        <div class="col">
                            <div id="example1_filter" class="dataTables_filter"><label>
                                Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col text-right">
                    <a :href="route('admin.faqs.create')" class="btn btn-success btn-sm">Добавить</a>
                </div>
            </div>

            <table id="example1" class="table table-bordered table-responsive-xl table-hover display">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Заголовок (Рус)</th>
                    <th>Заголовок (Англ)</th>
                    <th>Описание (Рус)</th>
                    <th>Описание (Англ)</th>
                    <th>Редактировать/Удалить</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(faq, key) in faqs">
                    <td>{{faq.id}}</td>
                    <td>{{faq.title_ru}}</td>
                    <td>{{faq.title_en}}</td>
                    <td>{{faq.content_ru}}</td>
                    <td>{{faq.content_en}}</td>
                    <td>
                        <a :href="route('admin.faqs.edit', {id:faq.id})" class="btn btn-primary btn-sm">Редактировать</a>
                        <button class="btn btn-danger btn-sm" @click="deleteFaq(key, faq.id)">Удалить</button>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                faqs: [],
                per_page: 10
            }
        },
        mounted() {
            this.getFaqs();
        },
        methods:{
            getFaqs(){
                axios.get(route("admin-api.faqs.index"), {
                    params:{
                        per_page: this.per_page
                    }
                })
                    .then(response =>{
                        this.faqs = response.data.data;
                        console.log(response.data.data)
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            deleteFaq(key, faq_id){
                axios.delete(route("admin-api.faqs.destroy"), {
                    params:{
                        id: faq_id
                    }
                })
                    .then(response => {
                        console.log(response.data)
                        this.$delete(this.faqs, key);
                    })
                    .catch(error => {
                        console.log(error)
                    })

            },

            perPage(){
                this.getFaqs();
            }
        }
    }
</script>

<style scoped>

</style>
