<template>
    <div class="card mb-3">
        <div class="card-header">
            <h3><i class="fa fa-check-square-o"></i> Form grid</h3>
            More complex forms can be built using our grid classes. Use these for form layouts that require multiple columns, varied widths, and additional alignment options.
        </div>

        <div class="card-body">

            <form autocomplete="off" action="#">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">User Name</label>
                        <input type="email" class="form-control" v-model="users.name" id="inputName4" placeholder="Name" autocomplete="off">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">E-mail</label>
                        <input type="email" class="form-control" v-model="users.email" id="inputEmail4" placeholder="Email" autocomplete="off">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Пароль</label>
                        <input type="password" class="form-control" v-model="users.password" id="inputPassword4" placeholder="Password" autocomplete="off">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div v-if="error" class="alert alert-danger">
                            <button type="button" class="close">
                                <span @click="closeError()">×</span>
                            </button>
                            <div v-for="err in errors">
                                <strong>{{err[0]}}</strong>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" @click.prevent="updateUser" class="btn btn-primary">Изменить</button>
            </form>

        </div>
    </div>
</template>

<script>
    import mixin from '../../mixins';
    export default {
        props:['user'],
        mixins:[mixin],
        data(){
            return {
                users:{
                    name: '',
                    email: '',
                    password: ''
                },
                error: false,
                error_message: '',
                errors:[],
            }
        },
        mounted(){
            this.getUser();
        },
        methods:{
            getUser(){
                axios.get(route("admin-api.users.index"), {
                    params:{
                        id: this.user.id
                    }
                })
                    .then(response => {
                        this.users = response.data
                        console.log(this.user)
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            updateUser(){
                axios.put(route("admin-api.users.update"), {
                    name: this.users.name,
                    email: this.users.email,
                    password: this.users.password,
                    id: this.user.id
                })
                    .then(response => {
                        console.log(response.data)
                    })
                    .catch(error =>{
                        this.messages(422);
                        this.errors = error.response.data.errors;
                    })
            }
        }
    }
</script>

<style scoped>

</style>
