<template>
    <div>
        <div class="card mb-12">
            <div class="card-header">
                <h3><i class="fa fa-users"></i> Пользователи</h3>
                Здесь вы можете добавлять новых пользователей, удалять, редактировать или кинуть в чёрный список
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="dataTables_length" id="example1_length"><label>Show entries
                                    <select name="example1_length" v-model="per_page" @change="perPage" aria-controls="example1" class="form-control form-control-sm">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </label>
                                </div>
                            </div>
                            <div class="col">
                                <div id="example1_filter" class="dataTables_filter"><label>
                                    Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col text-right">
                        <a :href="route('admin.users.create')" class="btn btn-success btn-sm">Добавить</a>
                    </div>
                </div>

                <table id="example1" class="table table-bordered table-responsive-xl table-hover display">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Имя</th>
                        <th>E-mail</th>
                        <th>Статус</th>
                        <th>Редактировать/Удалить</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr v-for="(user, key) in users">
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>Заблокирован</td>
                        <td>
                            <a :href="route('admin.users.edit', {id:user.id})" class="btn btn-primary btn-sm">Редактировать</a>
                            <button class="btn btn-danger btn-sm" @click="deleteUser(key, user.id)">Удалить</button>
                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>
        </div><!-- end card-->
    </div>
</template>

<script>
    export default {
        data(){
            return {
                users: [],
                per_page: 10
            }
        },
        mounted() {
            this.getUsers();
        },
        methods:{
            getUsers(){
                axios.get(route("admin-api.users.index"), {
                    params:{
                        per_page: this.per_page
                    }
                })
                    .then(response =>{
                        this.users = response.data.data;
                        console.log(response.data)
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            deleteUser(key, user_id){
                axios.delete(route("admin-api.users.destroy"), {
                    params:{
                        id: user_id
                    }
                })
                    .then(response => {
                        console.log(response.data)
                        this.$delete(this.users, key);
                    })
                    .catch(error => {
                        console.log(error)
                    })

            },

            perPage(){
                this.getUsers();
            }
        }
    }
</script>

<style scoped>

</style>
