<template>
    <div class="root">
        <div class="switch">
            <label class="bs-switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <h6 class="show-ord">Включить услугу</h6>
        </div>
        <div class="clearfix"></div>
        <p>Отмечайте галочками тот MMR, который уверенно можете бустить</p>
        <p>Указывайте скорость буста в днях за каждые 100 MMR</p>
        <p><a href="#">Почему я получу меньше</a> чем цена на сайте?</p>
        <br>

        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>На сайте</th>
                <th>На счет</th>
                <th>Время, дн.</th>
            </tr>
            </thead>
            <tbody>
            <!--Цены за MMR-->
            <tr v-for="(service, key) in services">
                <td>
                    <input type="checkbox" :checked="service.status" @change="changeStatus(service.id, $event)" :value="service.id">
                </td>
                <td>
                    <span v-if="key == 0">10 игр соло калибровки</span>
                    <span v-if="key == 1">10 игр Party калибровки</span>
                    <span v-if="key == 2">Частичная соло калибровка (Клиент может заказать от 3-9 игр)</span>
                    <span v-if="key == 3">Гарантированная 3500 MMR</span>
                    <span v-if="key == 4">Калибровка +буст до 4000 MMR</span>
                    <span v-if="key == 5">Калибровка +буст до 4000 MMR</span>
                </td>
                <td>
                    Цена за 100 MMR
                </td>
                <td>

                    <input type="text" @input="costWebsite('cost_website', service.id, $event)" class="form-control form-2 inline-block website" :value="service.cost_website">
                </td>
                <td>
                    <input type="text" @input="costWebsite('cost_original', service.id, $event)" class="form-control form-2 inline-block" :value="service.cost_original">
                </td>
                <td>
                    <input type="text" @input="costWebsite('days', service.id, $event)"  class="form-control form-2 inline-block" :value="service.days">
                </td>
            </tr>

            <!--/ Цены за MMR-->
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "SoloBooster",
        props:["user"],
        data(){
            return {
                services:[]
            }
        },
        mounted(){
            this.getServices();
        },
        methods:{
            getServices(){
                axios.get(route("profile-api.profile.services", {
                    user_id: this.user.id,
                    service_type: 2
                }))
                    .then( response => {
                        this.services = response.data
                        console.log(response.data)
                    })
            },
            changeStatus(id, $event){
                let status;
                if($event.target.checked){
                    status = 1;
                }else{
                    status = 0;
                }
                axios.post(route("profile-api.profile.services.status", {
                    status: status,
                    service_type: 2,
                    service_id: id
                })).then(response => {
                    console.log(response.data)
                }).catch(error => {
                    console.log(error)
                })
            },
            costWebsite(column_name, id, $event){
                let value = $event.target.value;
                axios.post(route("profile-api.profile.services.changes", {
                    column_name: column_name,
                    service_type: 2,
                    service_id: id,
                    value: value
                })).then( response => {
                    console.log(response.data)
                }).catch(error => {
                    console.log(error)
                })
            }
        }
    }
</script>

<style scoped>

</style>
