<template>
    <div class="root">
        <div class="switch">
            <label class="bs-switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <h6 class="show-ord">Включить услугу</h6>
        </div>
        <div class="clearfix"></div>
        <p>Отмечайте галочками тот MMR, который уверенно можете бустить</p>
        <p>Указывайте скорость буста в днях за каждые 100 MMR</p>
        <p><a href="#">Почему я получу меньше</a> чем цена на сайте?</p>
        <br>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#ru" role="tab" aria-controls="home" aria-selected="true">Rus</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#en" role="tab" aria-controls="profile" aria-selected="false">Eng</a>
            </li>
            <li class="mt-2">
                <a class="ml-2"><i class="far fa-question-circle"></i></a>
            </li>
            <li class="mt-2">
                <a class="ml-2">Описание услуги до 150 знаков</a>
            </li>
        </ul>
        <div class="tab-content solo_boost_content" id="myTabContent">
            <div class="tab-pane fade show active" id="ru" role="tabpanel" aria-labelledby="home-tab">
                <textarea name="about_ru" id="ru_service" cols="30" rows="4" class="form-control"></textarea>
            </div>
            <div class="tab-pane fade" id="en" role="tabpanel" aria-labelledby="profile-tab">
                <textarea name="about_en" id="en_service" cols="30" rows="4" class="form-control"></textarea>
            </div>
        </div>
        <br>
        <ul class="game-everyday nav">
            <li class="mr-4"><a href="#"></a></li>
        </ul>
        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>На сайте</th>
                <th>На счет</th>
                <th>Время, дн.</th>
            </tr>
            </thead>
            <tbody>
            <!--Цены за MMR-->
            <tr v-for="(service, key) in services">
                <td>
                    <input type="checkbox" :checked="service.status" @change="changeStatus(service.id, $event)" :value="service.id">
                </td>
                <td>
                    <span v-if="key == 0">0 - 2499 MMR</span>
                    <span v-if="key == 1">2500 - 2999 MMR</span>
                    <span v-if="key == 2">2999 - 3499 MMR</span>
                    <span v-if="key == 3">3500 - 3999 MMR</span>
                    <span v-if="key == 4">4000 - 4499 MMR</span>
                    <span v-if="key == 5">4500 - 4999 MMR</span>
                    <span v-if="key == 6">5000 - 5499 MMR</span>
                    <span v-if="key == 7">5500 - 5999 MMR</span>
                </td>
                <td>
                    Цена за 100 MMR
                </td>
                <td>

                    <input type="text" @input="costWebsite('cost_website', service.id, $event)" class="form-control form-2 inline-block website" :value="service.cost_website">
                </td>
                <td>
                    <input type="text" @input="costWebsite('cost_original', service.id, $event)" class="form-control form-2 inline-block" :value="service.cost_original">
                </td>
                <td>
                    <input type="text" @input="costWebsite('days', service.id, $event)"  class="form-control form-2 inline-block" :value="service.days">
                </td>
            </tr>

            <!--/ Цены за MMR-->
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "SoloBooster",
        props:["user"],
        data(){
            return {
                services:[]
            }
        },
        mounted(){
            this.getServices();
        },
        methods:{
            getServices(){
                axios.get(route("profile-api.profile.services", {
                    user_id: this.user.id,
                    service_type: 1
                }))
                    .then( response => {
                        this.services = response.data
                        console.log(response.data)
                    })
            },
            changeStatus(id, $event){
                let status;
                if($event.target.checked){
                    status = 1;
                }else{
                    status = 0;
                }
                axios.post(route("profile-api.profile.services.status", {
                    status: status,
                    service_type: 1,
                    service_id: id
                })).then(response => {
                    console.log(response.data)
                }).catch(error => {
                    console.log(error)
                })
            },
            costWebsite(column_name, id, $event){
                let value = $event.target.value;
                axios.post(route("profile-api.profile.services.changes", {
                    column_name: column_name,
                    service_type: 1,
                    service_id: id,
                    value: value
                })).then( response => {
                    console.log(response.data)
                }).catch(error => {
                    console.log(error)
                })
            }
        }
    }
    $('.website').blur(function(){
        alert("Hello world")
    })
</script>

<style scoped>

</style>
