<template>

   <div class="dropzone">
       <vue-dropzone ref="myVueDropzone"  v-on:vdropzone-sending="sendingEvent" v-on:vdropzone-removed-file='removeThisFile' id="dropzone" :options="dropzoneOptions"></vue-dropzone>
   </div>

</template>

<script>

    import vue2Dropzone from 'vue2-dropzone';
    import 'vue2-dropzone/dist/vue2Dropzone.min.css';

    export default {
        props:["user"],
        name: "AddPortfolio",
        components: {
            vueDropzone: vue2Dropzone
        },
        data: function () {
            return {
                dropzoneOptions: {
                    url: route('profile-api.portfolio.upload'),
                    thumbnailWidth: 150,
                    thumbnailHeight: 200,
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    autoProcessQueue: true,
                    addRemoveLinks: true,
                    dictRemoveFile: "Удалить",
                    dictDefaultMessage: "Загрузить фотографии",
                },
                portfolio:[]
            }
        },
        mounted(){
            this.getPortfolio();
        },
        methods:{
            getPortfolio(){
                axios.get(route("profile-api.portfolio.get", {
                    user_id: this.user.id
                })).then(response => {
                    this.portfolio = response.data
                    console.log(response.data)
                    this.loadExistingFiles();
                }).catch(error => {
                    console.log(error)
                })
            },
            sendingEvent (file, xhr, formData) {
                formData.append('user_id', this.user.id);
            },
            removeThisFile(file){
                axios.delete(route("profile-api.portfolio.delete", {
                    user_id: this.user.id,
                    image: file.name
                })).then(response => {
                    console.log(response.data)
                }).catch(error => {
                    console.log(error)
                })
            },
            loadExistingFiles() {
                //Add existing files into drop zone
                this.portfolio.forEach((element)=> {
                    console.log(element.image)
                    let file = {size: 123, name: element.image , type: "image/jpg"};
                    let url = "/uploads/portfolio/" + element.image;
                    this.$refs.myVueDropzone.manuallyAddFile(file, url);
                })

            },

        }
    }
</script>

<style scoped>

</style>
