<template>
    <div class="row">
        <div class="col-4">
            <div class="white z-depth-1 px-3 pt-3 pb-0">
                <ul class="list-unstyled friend-list">
                    <li class="active grey lighten-3 p-2" v-for="conversation in conversations">
                        <a :href="`/profile/work/${conversation.id}`" class="d-flex justify-content-between">
                            <div class="text-small w-100">
                                <strong v-if="conversation.sender.id === sender.id">{{conversation.receiver.name}}</strong>
                                <strong v-else>{{conversation.sender.name}}</strong>
                                <p class="last-message text-muted m-0"></p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-8">
            <div class="mesgs w-100">
                <div class="chat-message">
                    <ul class="list-unstyled chat">
                        <li class="d-flex justify-content-between mb-4" v-for="message in messages">
                            <div class="chat-body white p-3 z-depth-1 w-100">
                                <div class="header d-flex justify-content-between align-self-center"
                                     :class="{'flex-row-reverse':sender.id === message.sender.id}">
                                    <strong class="primary-font username" v-if="message.is_admin">Администрация</strong>
                                    <strong class="primary-font username" v-else>{{message.sender.name}}</strong>
                                    <small class="pull-right text-muted datetime"><i class="fa fa-clock-o"></i>
                                        {{message.created_at}}
                                    </small>
                                </div>
                                <div class="w-100 line"></div>
                                <div class="mb-0 mt-2 message-text" :class="{ 'text-right' : sender.id === message.sender.id}">
                                    {{message.message}}
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="white pt-0 pb-0">
                        <div class="form-group basic-textarea">
                        <textarea class="form-control pl-2 my-0" id="exampleFormControlTextarea2"
                                  rows="3" placeholder="Type your message here..."
                                  v-model="message"></textarea>
                        </div>
                    </div>

                    <div class="float-left" v-if="conversation_id !== 0">
                        <button class="btn btn-success" @click.prevent="accept" v-if="role.name === 'user'">Accept</button>
                        <button class="btn btn-primary" @click.prevent="done" v-if="role.name === 'booster'">Done</button>
                        <button class="btn btn-warning" @click.prevent="closed">Closed</button>
                        <button class="btn btn-danger" @click.prevent="arbitrach">Arbitrach</button>
                    </div>
                    <div class="float-right" v-if="conversation_id !== 0">
                        <button type="button" @click="sendMessage"
                            class="btn btn-primary waves-effect waves-light float-right">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "WorkComponent",
        props:["sender", "conversation_id", "role"],
        data(){
            return {
                conversations:[],
                messages:[],
                receiver:{
                    id: '',
                    name: '',
                    email: ''
                },
                message:''
            }
        },
        mounted() {
            if(this.conversation_id !== 0){
                this.getConversations();
                this.getReceiver();
                this.getMessages();
            }
        },
        methods: {
            getConversations(){
                axios.get(route("website-api.work.conversations.get", {
                    user_id: this.sender.id,
                })).then(response => {
                    this.conversations = response.data
                }).catch(error => {
                    console.log(error)
                })
            },
            getMessages(){
                axios.get(route("website-api.work.messages.get"), {
                    params:{
                        conversation_id: this.conversation_id
                    }
                }).then( response => {
                    this.messages = response.data;
                }).catch( error => {
                    console.log(error)
                })
            },
            getReceiver(){
                axios.get(route("website-api.work.receiver.get"), {
                    params:{
                        sender_id: this.sender.id,
                        conversation_id: this.conversation_id
                    }
                }).then(response => {
                    this.receiver = response.data;
                }).catch(error => {
                    console.log(error)
                })
            },
            sendMessage(){
                if(!this.message){
                    return false;
                }
                axios.post(route("website-api.work.message.post"), {
                    conversation_id: this.conversation_id,
                    sender_id: this.sender.id,
                    receiver_id: this.receiver.id,
                    message: this.message
                }).then(response => {
                    this.messages.push(response.data)
                    this.message = "";
                }).catch(error => {
                    console.log(error)
                })
            },


            accept(){
                axios.post(route("website-api.work.accept"), {
                    sender_id: this.sender.id,
                    conversation_id: this.conversation_id,
                    receiver_id: this.receiver.id
                }).then(response => {
                    this.messages.push(response.data)
                }).catch(error => {
                    console.log(error)
                })
            },

            closed(){
                axios.post(route("website-api.work.closed"), {
                    sender_id: this.sender.id,
                    conversation_id: this.conversation_id,
                    receiver_id: this.receiver.id
                }).then(response => {
                    this.messages.push(response.data)
                }).catch(error => {
                    console.log(error)
                })
            },
            done(){
                axios.post(route("website-api.work.done"), {
                    sender_id: this.sender.id,
                    conversation_id: this.conversation_id,
                    receiver_id: this.receiver.id
                }).then(response => {
                    this.messages.push(response.data)
                }).catch(error => {
                    console.log(error)
                })
            },
            arbitrach(){
                axios.post(route("website-api.work.arbitrach"), {
                    sender_id: this.sender.id,
                    conversation_id: this.conversation_id,
                    receiver_id: this.receiver.id
                }).then(response => {
                    this.messages.push(response.data)
                }).catch(error => {
                    console.log(error)
                })
            }

        },
        watch: {
            messages: function () {
                setTimeout(() => {
                    let chat = document.querySelector('.chat');
                    chat.scrollTo(0, chat.scrollHeight);
                    console.log(chat.scrollHeight)
                }, 50)

            }
        }
    }
</script>

<style scoped>
    .chat{
        height: 500px;
        overflow-y: scroll;
    }
    .line{
        margin-top: 2px;
        border: .5px solid #f1f1f1;
    }
    .username, .message-text{
        font-size: 17px;
    }
    .datetime{
        font-size: 14px;
    }
</style>
